@{
    ViewData["Title"] = "Admin Page";
}

<div class="divider"></div>
<section class="container">
    <div class="rounded-5 border-5 m-5 p-5" style="background-color: rgb(5, 44, 101); border-color: rgb(5, 44, 101);">
        <div class="d-grid gap-5">
            <a asp-controller="Admin" asp-action="ListAccidents" class="btn btn-primary">Go to Accidents</a>
            <a asp-controller="Admin" asp-action="ListUsers" class="btn btn-primary">Go to Users</a>
        </div>
    </div>
</section>
<div class="divider"></div>