@model ChangePasswordModel

<div class="modal fade" id="ChangePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="ChangePassword" asp-controller="Account" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="currentpassword" asp-for="CurrentPassword" placeholder="Current Password">
                            <label asp-for="CurrentPassword"></label>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <span class="input-group-text bg-transparent">
                            <i class="far fa-eye" style="cursor: pointer;" id="toggleCurrentPassword"></i>
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" asp-for="Password" placeholder="Password">
                            <label asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <span class="input-group-text bg-transparent">
                            <i class="far fa-eye" style="cursor: pointer;" id="togglePassword"></i>
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            <label asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <span class="input-group-text bg-transparent">
                            <i class="far fa-eye my-1" style="cursor: pointer;" id="toggleConfirmPassword"></i>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>