<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SlowInsurance</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/aos/aos.css">
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/SlowInsurance.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <div class="logo">
                <!-- Uncomment below if you prefer to use an image logo -->
                <a asp-controller="Home" asp-action="Index"><img src="~/images/iconWhite.png" alt="Slow Insurance Logo" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                @if (signInManager.IsSignedIn(User))
                {
                    <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a asp-controller="Vehicle" asp-action="ListVehicles"><span>Vehicles</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a class="nav-link" asp-controller="Vehicle" asp-action="ListVehicles">Vehicles</a></li>
                            <li><a class="nav-link" asp-controller="Vehicle" asp-action="AddVehicle">Add Vehicle</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" asp-controller="Invoice" asp-action="ListInvoices">Invoices</a></li>
                    <li><a class="nav-link" asp-controller="Accident" asp-action="ListAccidents">Accidents</a></li>
                        <li class="dropdown">
                            <a style="nav-link" href="#"><span>@userManager.FindByEmailAsync(User?.Identity?.Name).Result.Name</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a asp-action="AccountDetails" asp-controller="Account">Profile</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                @*<li><a asp-action="MainPage" asp-controller="Admin">Admin Page</a></li>*@
                                    <li class="dropdown">
                                        <a asp-action="MainPage" asp-controller="Admin"><span>Admin Section</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a asp-action="ListUsers" asp-controller="Admin">Users</a></li>
                                        <li><a asp-action="ListAccidents" asp-controller="Admin">Accidents</a></li>
                                    </ul>
                                </li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Sign out</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                }
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    @*<div class="divider"></div>*@
    <main role="main">
        @RenderBody()
    </main>

    @*======= Footer =======*@
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Slow Insurance</h3>
                            <p>
                                Cloud Street <br>
                                Azure Cloud<br><br>
                                <strong>Phone:</strong> +351 912 345 678<br>
                                <strong>Email:</strong> very.slow.insurance@gmail.com<br>
                            </p>
                            @*<div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>*@
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Home" asp-action="Index">Home</a></li>
                            @*<li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Slow Insurance</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    @*End Footer*@

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/aos/aos.js"></script><!-- aos -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script><!-- glightbox -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script><!-- isotope -->
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script><!-- swiper -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>