@{
    ViewData["Title"] = "Access Denied";
}
<div class="divider"></div>
<section class="container">
    <h1>403</h1>
    <p>Access denied</p>

    <a asp-action="Index" asp-controller="Home" class="text-decoration-none"><i class="bi bi-arrow-left"></i> Go back to home</a>
</section>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
