@model ForgotYourPasswordFormViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container text-center w-50">
    <form asp-controller="Account" asp-action="ForgotYourPasswordForm" method="post" class="row g-3">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating my-1">
            <input type="email" class="form-control" asp-for="Email" placeholder="name@example.com">
            <label asp-for="Email">Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <a asp-action="ForgotYourPasswordForm" asp-controller="Account" class="justify-text-center m-5">Forgot your password?</a>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <a asp-action="SignIn" asp-controller="Account" class="justify-content-center m-5">Don't have an account?</a>
</div>