@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container text-center w-50">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="row g-3">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating my-1">
            <input type="password" class="form-control" asp-for="Password">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating my-1">
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input hidden class="form-control" asp-for="Email">
        <input hidden class="form-control" asp-for="Token">

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>