@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset Password Confirmation";
}
<h1>ResetPasswordConfirmation</h1>

<p>
    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
</p>