@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container text-center w-50">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="row g-3">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group">
            <div class="form-floating my-1">
                <input type="password" class="form-control" id="password" asp-for="Password" placeholder="Password">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <i class="far fa-eye input-group-text my-1" style="cursor: pointer;height: 90%;" id="togglePassword"></i>
        </div>
        <div class="input-group">
            <div class="form-floating my-1 col-md-6">
                <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <i class="far fa-eye input-group-text my-1" style="cursor: pointer;height: 90%;" id="toggleConfirmPassword"></i>
        </div>

        <input hidden class="form-control" asp-for="Email">
        <input hidden class="form-control" asp-for="Token">

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>