@model CreateAccountModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="divider"></div>
<section>
    <div class="container text-center w-75">
        <form asp-controller="Account" asp-action="SignUp" method="post" class="row g-3" autocomplete="off">
            <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating my-1 col-md-6">
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating my-1 col-md-6 mb-3">
                <input type="email" class="form-control" asp-for="Email" placeholder="name@example.com">
                <label asp-for="Email">Email Address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @*Password*@
            <div class="input-group my-1">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" asp-for="Password" placeholder="Password">
                    <label asp-for="Password">Password</label>
                </div>
                <span class="input-group-text bg-transparent">
                    <i class="far fa-eye fa-fw" style="cursor: pointer;" id="togglePassword"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger" style="margin-top: -5px"></span>
            @*End*@

            @*Confirm Password*@
            <div class="input-group my-1">
                <div class="form-floating">
                    <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                </div>
                <span class="input-group-text bg-transparent">
                    <i class="far fa-eye fa-fw" style="cursor: pointer;" id="toggleConfirmPassword"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger" style="margin-top: -5px"></span>
            @*End*@

            <button class="w-100 btn btn-lg btn-primary" type="submit">Continue</button>
        </form>
        <a asp-action="Login" asp-controller="Account" class="align-self-sm-center align-content-sm-center align-items-sm-center justify-content-sm-center">Already have an account?</a>
    </div>
</section>