@model List<AccidentModel>
@{
    ViewData["Title"] = "List Accident";
}

<div class="divider"></div>
<section class="container">
@if (!Model.Any())
{
    <section>
        <div class="card">
            <div class="card-header">
                404
            </div>
            <div class="card-body">
                <h5 class="card-title">There were no accidents registered</h5>
                <p class="card-text">We cannot seem to find any accidents. Good record.</p>
            </div>
        </div>
    </section>
}
else
{
    <h1 class="h3 mb-3 fw-normal fw-bold">Record of Accidents</h1>
    <section>
        <div class="row">
            @foreach (var accident in Model)
            {
                <div class="col-xl-4">
                    <div class="card my-2">
                        <div class="card-header">
                            @accident.Location
                        </div>
                        <div class="card-body">
                            <p class="card-text h6">@accident.Description</p>
                            <p class="card-text text-secondary">
                                @foreach (var plate in accident.Vehicles.Select(v => v.Plate))
                                {
                                    @plate<br />
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
</section>