@model List<AccidentModel>
@{
    ViewData["Title"] = "Add Accident";
}
@if (!Model.Any())
{
        <div class="card">
            <div class="card-header">
                404
            </div>
            <div class="card-body">
                <h5 class="card-title">There were no accidents</h5>
                <p class="card-text">We cannot seem to find any accidents. If any occured, click the button bellow</p>
                <a asp-controller="Accident" asp-action="AddAccident" class="btn btn-primary">Add Accident</a>
            </div>
        </div>
}
else
{
        <div class="row">
            <div class="d-grid gap-2">
                <a asp-action="AddAccident" asp-controller="Accident" class="btn btn-outline-primary btn-lg" style="margin: -10px 0px 20px 0px">Add Accident</a>
            </div>
        @foreach (var accident in Model)
        {
                    <div class="col-sm-4">
                        <div class="card my-1">
                            <div class="card-header">
                                @accident.Location
                            </div>
                            <div class="card-body">
                                <p class="card-text h6">@accident.Description</p>
                                <p class="card-text text-secondary">
                                    @foreach (var plate in accident.Vehicles.Select(v => v.Plate))
                                    {
                                        @plate<br />
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
        }
        </div>
}